<launch>
    <node pkg="turtlebro_overheat_detector" type="heat_detector.py" name="heat_detector" output="screen">
        <param name="wait_after_detection" value="10" />
        <param name="ignore_heat_after_continue" value="10"/>
        <param name="threshold" value="40"/>
        <param name="control_topic" value="patrol_control"/>
        <param name="alarm_led_topic" value="alarm_led"/>
        <param name="heat_pixels_topic" value="amg88xx_pixels"/>
    </node>
</launch>